In [36]:
import pandas as pd
from pathlib import Path

In [74]:
root = Path('./data')
def create_path(root, journal):
    suffix = '_stats_per_dots.csv'
    return root.joinpath(journal).joinpath(journal+suffix)

df = pd.read_csv(create_path(root,'gazzetta_dello_sport_3plus'))
c2k = ['code', 'dots', 'giocatore', 'squadra', 'ruolo', 'yyss']

df = df[c2k]

In [89]:
df['giocatore'] = df['giocatore'].str.rstrip().str.lstrip().str.lower()
df['squadra'] = df['squadra'].str.rstrip().str.lstrip().str.lower()

df['last_len'] = df['giocatore'].str.split(' ').str[-1].str.len()
df['spaces'] = df['giocatore'].str.count(' ')

df[df.yyss=='2009-10']

        code  dots     giocatore   squadra ruolo     yyss  last_len  spaces
40774   8470     1     balotelli     inter     A  2009-10         9       0
40775   9567     1     maccarone     siena     A  2009-10         9       0
40776   7013     1      nocerino   palermo     C  2009-10         8       0
40777   4124     1        zuniga    napoli     D  2009-10         6       0
40778    825     1      agostini  cagliari     D  2009-10         8       0
...      ...   ...           ...       ...   ...      ...       ...     ...
51382   7206    38       pastore   palermo     C  2009-10         7       0
51383  10177    38  quagliarella    napoli     A  2009-10        12       0
51384   4252    38       alvarez      bari     C  2009-10         7       0
51385   1619    38     chiellini  juventus     D  2009-10         9       0
51386   1524    38       cassani   palermo     D  2009-10         7       0

[10613 rows x 8 columns]